<nav class="navigation navigation--primary" role="navigation">
  <ul class="navigation__list">
    <li class="navigation__item navigation__item--first navigation__item--1">
      <a class="navigation__link" href="#"><span class="navigation__copy">Link 1</span></a>
    </li>
    <li class="navigation__item navigation__item--2">
      <a class="navigation__link" href="#"><span class="navigation__copy">Link 2</span></a>
    </li>
    <li class="navigation__item navigation__item--3">
      <a class="navigation__link" href="#"><span class="navigation__copy">Link 3</span></a>
    </li>
  </ul>
</nav>
